@charset "UTF-8";
/*#coin_deposit,withdrawpage{width:915px; height:auto; margin:0 auto; position: relative;}*/
/*메뉴*/
#tab{width:100%; height:94px;  margin:0 auto;}
#tab li{display: inline; width:302px; height:94px;margin:30px;}
#tab li a{ outline:none; font-size:30px;background-color:lightgoldenrodyellow;}

/*코인입금*/
#coin_deposit{width:100%;}

.d_top{}
.d_top_guide{margin-top:26px;}
.d_top_guide li{display: inline;}
.d_guide{font-size:27px; font-weight:bold;color:#ed5c65;position: relative; display: flex; justify-content: flex-start; align-items: center;}
.d_guide::before{content: url("../assets/images/circle.png"); display: block; margin-right:10px;}
.d_guide_text{margin-top:33px; margin-left:85px;}
.d_guide_text li{margin:17px;font-size:27px;}

#d_middle{width:100%; position: relative !important; margin-top:90px;}
#d_btn{width:318px; height:69px;background-color:#4da0ca; color:#fff; font-size:30.51px;font-weight:bold; border-radius:10px;outline:none;}
.address{font-size:27px;}
.address_btn{width:100%; display: flex; justify-content: space-between; align-items: center; margin-bottom: 50px;}
#d_gray_box{width:100%; line-height:94px; border:1px solid #c9c9c9; border-radius:10px;outline:none; color:#3e3e3e; font-size:30px;}
#img-box{width:100%; border:1px solid #fff; text-align:center; margin-top:50px;}
#qr_box{padding:20px;border:1px solid #c9c9c9;outline:none; color:#3e3e3e;}
.qr_text{font-size:36px;margin-top:20px; text-align: center;}


/*코인 출금*/
#coin_withdraw{width:100%;height:auto; margin:0 auto;}

.w_top{width:100%; margin-bottom:50px;}
.w_title{display: flex; justify-content: space-between; align-items: center;}
.left_text{float:left;font-size:40px;font-weight:bold;}
.w_orange{color:#e56833; font-weight:bold;font-size:40px;}
.right_text{font-size:34px;color:#999999;}
.w_red{color:#da2b48; font-size:40px;}

#w_gray_box{width:100%; height:621px;background-color:#efefef;border-top:1px solid #afafaf;border-bottom: 1px solid #afafaf; margin-left:-5px;}
.w_gray_box{width:100%; border-bottom: 1px solid #afafaf; border-top: 1px solid #afafaf;}
.w_gray_box table{background-color:#efefef;}
.w_gray_box table tr{}
.w_gray_box table tr th{font-size: 40px; text-align: left; padding:40px;}
.w_gray_box table tr td{font-size: 40px; text-align: right; padding:40px;}
.btc{display: flex; justify-content: space-between; align-items: center;margin-bottom:30px;}
.input_area{margin-top:50px;}
.w_orange{color:#e56833; font-weight:bold;font-size:40px;}
#w_number_box{width:80%; height:93px;outline:none; border-radius:10px;border:1px #dbdbdb solid;font-size:30px;text-align:right; padding-right:20px;}
.krw{display: flex; justify-content: space-between;align-items: center;}
#w_number_box2{width:80%; height:93px;outline:none; border-radius:10px;border:1px #dbdbdb solid;font-size:30px;text-align:right; line-height: 93px; padding-right:20px;}
.w_black{font-size:38px;}
.btn_area{text-align: center; margin-top:50px;}
.w_bottom{width:100%; text-align:center;}
#w_blue_btn{width:70%; height:103px; background-color:#4da0ca;border-radius: 10px; text-align:center;line-height:103px;font-size:38px;color:#fff !important;}
#w_blue_btn a{color:#fff;}
.w_guide{font-size:27px; font-weight:bold;color:#ed5c65;position: relative; display: flex; justify-content: flex-start; margin:50px 0; align-items: center; text-align: left;}
.w_guide::before{content: url("../assets/images/circle.png"); display: block; margin-right:10px;}
.w_bottom_guide{text-align: left;}
.w_bottom_guide li{font-size: 27px; line-height:35px;}
#w_bottom_text{float:left;margin-top:20px;font-size:27px;margin-left:75px;}
#w_bottom_text2{margin-top:20px; margin-left:75px;float:left;font-size:27px;}
input::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
/*코인출금 인증페이지*/
#coin_certification{width:100%;height:auto; margin:0 auto; display:none;}

.c_top{width:100%;height:auto;}
.c_top form{position: relative;}
.c_top_text{font-size:33px;margin-top:44px;}
.c_red{color:red;font-size:33px;font-weight:bold;}
#c_btc_box{width:100%; line-height:159px; border:1px solid #dbdbdb; outline:none;border-radius:10px;margin-top:34px;font-size:35px;}
#c_reset_btn{background-color:#fff; outline:none !important;width:45px; height:45px;position: absolute; top:30%; right:5%;background:url(../assets/images/reset_btn.png) no-repeat; border:0; color:#fff;}
#c_box_text{display: flex;}
#c_box_text li{margin-top:20px; width:100%;}
#c_box_text li button{color:#fff;font-size:30px;outline:none; width:100%; height:92px; background-color:#abb0b2;border-radius: 10px;border:1px solid #c9c9c9;}


#c_main{width:100%; height:auto;}
#c_blue_box{width:100%; height:102px; border:1px solid #a4d1fe; background-color:#cfe6fe;color:#298ffa; border-radius: 10px;font-size:38px;margin-top:39px;outline:none;}
#phone{width:100%; height:102px; border:1px solid #c9c9c9;border-radius: 10px;margin-top:20px;text-align:right; outline:none;font-size:32px;color:#abb0b2;}
#c_gray_box2{width:80%; height:102px; border:1px solid #c9c9c9;border-radius: 10px;text-align:right; outline:none;font-size:32px;color:#abb0b2;}
.time_box{display: flex; align-items: center;margin-top:20px;}
.time{width:10%;}
.time #min,#sec{font-size: 32px;}
#comp_btn{height: 102px; width:10%; border:1px solid #a4d1fe; background-color: #cfe6fe; border-radius: 10%;color:#298ffa; font-size: 1.5rem;}
.c_guide_title{margin-top:55px;}
.c_guide{font-size:27px; font-weight:bold;color:#ed5c65;position: relative; display: flex; justify-content: flex-start; margin:50px 0; align-items: center;}
.c_guide::before{content: url("../assets/images/circle.png"); display: block; margin-right:10px;}

.c_guide_text li{margin:10px;margin-top:30px;font-size:27px;}

.c_bottom{width:100%; height:auto;}
#c_blue_box2{width:100%; height:102px; background-color:#4da0ca;border-radius:10px;font-size:38px;color:#fff; outline:none;margin-top:50px;}

/*출금완료*/
.Withdrawal_completed{}
.completed{}
.completed div{display: flex; align-items: center; justify-content: center; flex-direction: column;}
.completed div img{}
.completed .btc_krw{display: block;}
.completed h1{font-size:32px; text-align: center; line-height:38px; margin-top: 20px;}
.completed .btc_krw h1{text-align: left;}
.completed .btc_krw h1 span{font-size: 32px; font-weight:600;}
.completed .btc_krw h1 .red{color:#e56833;}
.compl_btn{width:100%; height:102px;background-color: #4da0ca; border-radius: 10px; font-size: 28px; color: #fff; outline: none; margin-top:100px;}

/*내역*/
#deposit_withdrawal_history{}
#deposit_withdrawal_history h1{margin: 50px 0; font-size:33px;}



.history_box{display: flex; align-items: center; padding: 20px; border:1px solid #dcdcdc; border-radius: 10px; margin-bottom:20px;}
.history_box img{width:10%; margin-right:20px;}
.h_top{margin-bottom:30px;}
/*datepicker 소스 수정부분*/
.select-script{position:relative; width:100%; height:86px; line-height:40px; border:1.69px solid #dbdbdb; border-radius:4px; text-transform:uppercase; background:#fff;font-size:35px;line-height:86px;border-radius: 10px;}
.select-script label{position:absolute; width:90%; font-size:35px; color:#606976; top:0; left:0; padding:0 5%;}
.select-script label:after{content:'▼'; width:88.5px; height:86.5px; position:absolute; top:0; right:0; font-size:35px; color:#fff; text-align:center; background:#abb0b2;border-radius:0px 9px 9px 0px;border-left:1px solid #dcdcdc;} 
.select-script select{width:100%; height:40px; opacity:0; filter:alpha(opacity=0);  -ms-filter:alpha(opacity=0)/* IE 8 */;}
#selectbox option{font-size:35px;outline:none;}

.main{width:100%; display: flex; align-items: center; justify-content: center;}
.datepicker{width:30.3%; height:75px;border-radius:10px 0px 0px 10px !important; outline:none !important; padding-left:20px;background-color:#efefef;color:#8d8d8d;font-size:33px; }
.h_blue-btn{width:176px; height:76px; color:#fff; font-size:33px; background-color:#4da0ca; border-radius:10px;outline:none; margin-left:20px;}



@media(max-width:540px){
  .w_gray_box{width:100%; border-bottom: 1px solid #afafaf; border-top: 1px solid #afafaf;}
  .w_gray_box table{background-color:#efefef;}
  .w_gray_box table tr{}
  .w_gray_box table tr th{display: block; text-align: center; font-size:20px; padding:20px 0; background: #4da0ca; color:#fff;}
  .w_gray_box table tr td{display: block;text-align: center; font-size:20px;background: #fff;}
 .left_text,.w_orange,.right_text,.w_red {font-size:25px;}

  /*내역*/
  .select-script{height:57px; line-height:57px;}
  .select-script label:after{width:56.7px; height:56.7px;}
  .h_blue-btn{width:100%; height:56px; font-size: 18px;}
  .datepicker{width:100%; height:51px;}
  .ui-datepicker-trigger{width:12%;}

  .coin_history table thead{display: block; float: left; overflow-x: auto;}
  .coin_history table tbody{display: block;width: auto;overflow-x: auto;white-space: nowrap;}

}

@media(max-width:430px){
  #d_btn{font-size: 19.51px;}
  .d_guide_text li{font-size: 21px; line-height:26px;}
  .completed div img{width:80%;}
  .completed h1{font-size: 24px;}
  #w_number_box{height:65px; font-size: 17px;}
  #w_number_box2{height:65px; line-height: 65px; font-size: 17px;}
  .w_guide{font-size: 20px;}
  .w_bottom_guide li{font-size: 20px; line-height: 30px;}
  #w_blue_btn{font-size: 20px; height:60px; line-height: 60px;}
  #phone{font-size: 20px;height:60px;}
  #c_btc_box{line-height: 60px; margin-top:20px; font-size: 20px;}
  #c_reset_btn{top:16%;}
  #c_gray_box2{width:50%;height:60px;font-size: 20px;}
  #c_blue_box{height:60px;font-size: 20px;}
  .time{width:21%;}
  .time #min, #sec{font-size: 20px;}
  #comp_btn{width:29%; height:60px;font-size:20px;}
  #c_box_text li button{height:60px; font-size:20px;}
  .c_guide_text li{font-size:21px;}
  .completed .btc_krw h1 span{font-size: 24px;}
  .left_text, .w_orange, .right_text, .w_red,.w_black{font-size: 17px;}
  .h_blue-btn{width:100%; height:28px; font-size: 18px; margin-left:0;}
  .datepicker{width:100%; height:22px !important; font-size: 8px;padding-left:5px;}
  .ui-datepicker-trigger{width:10%;}
  
}