@charset "UTF-8";
.wrap{width:100%; height:100%; max-width:1024px;}
#menu{width:100%;height:100%; max-width:1024px;padding:0;}
#menu_list{width:100%; height:100%; padding:0;}
#menu_list li{ margin:20px;width:100%;margin-left:-0.001px; height:100%; line-height:20px;}
#menu_list li a{color:#575757; font-size:100%; font-weight:bold; margin-top:-10px; margin-left:20px; float:left; margin-bottom:10px;}
hr{ width:1024px; margin-left:-2.933333333333333%;}
