@charset "UTF-8";
#otp{width:100%; height:auto;}
#otp .otp-text{width:100%;}
#otp .otp-text .text1{font-size:20px; font-weight:bold; margin-top:40px;}
#otp .otp-text .text2{ margin-top:30px; margin-left:25px;}
#otp .otp-app{margin-top:40px;}
#otp .otp-app li{margin:30px;}
#otp .otp-app2{margin-left:350px; margin-top:-169px;}
#otp .otp-app2 li{margin:30px;}
#otp .app-text{margin-left:10px; color:#a2a2a4;}

#main{width:100%;}
#main .otp-text2{width:100%;}
#main .otp-text2 .text1{font-size:20px; font-weight:bold; margin-top:100px;}

#qr_img{width:130px; height:130px;margin-top:40px;margin-left:35px; border:1px solid #ccc; padding:10px;}

.otp-box fieldset{border:1px solid #ccc; border-radius:10px;width:98%; height:340px; margin-top:50px;}
.otp-box fieldset legend{margin-left:30px; padding:5px;}
.otp-box fieldset .otp-box-text{ margin-left:198px; margin-top:-160px;}
.otp-box fieldset .otp-box-text li{margin:15px;}
.otp-box fieldset .otp-box-text li span{margin-left:14px;color:#a2a2a4;}


.otp-box fieldset .otp-box-text2{ margin-left:5px; margin-top:55px; margin-left:25px;}
.otp-box fieldset .otp-box-text2 li{display:inline; margin:10px;}
.otp-box fieldset .otp-box-text2 li .box{width:140px; height:30px; outline:none;padding-left:20px;}
.otp-box fieldset .otp-box-text2 li .otp-btn{width:160px; height:30px; background-color:#2f5597; color:#fff;}

.otp-box2 fieldset{border:1px solid #ccc; border-radius:10px;width:98%; height:165px; margin-top:50px;}
.otp-box2 fieldset legend{margin-left:30px; padding:5px;}
.otp-box2 fieldset .otp-box2-text{margin-left:30px; margin-top:30px;}
.otp-box2 fieldset .otp-box2-text2{margin-left:20px; margin-top:30px;}
.otp-box2 fieldset .otp-box2-text2 li{margin:10px; display:inline;}
.otp-box2 fieldset .otp-box2-text2 li #box{width:180px; height:30px; outline:none;padding-left:20px;}

#bottom{}
#bottom #next-btn{background-color:#fff; float:right; margin-right:30px; margin-top:30px; outline:none;height:24px;}
#bottom span{font-size:18px; font-weight:bold; margin-right:5px;line-height:22px;}






