* {
    box-sizing: border-box;
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  address,
  article,
  aside,
  audio,
  blockquote,
  body,
  button,
  canvas,
  code,
  dd,
  details,
  div,
  dl,
  dt,
  em,
  fieldset,
  figcaption,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  iframe,
  img,
  input,
  label,
  legend,
  li,
  menu,
  nav,
  object,
  ol,
  p,
  pre,
  section,
  select,
  table,
  td,
  textarea,
  th,
  ul,
  video {
    margin: 0;
    padding: 0;
  }
  body {
    -webkit-text-size-adjust: none;
    font-family:
    "Pretendard",
    Roboto,
    "Noto Sans KR",
    sans-serif;
  font-weight: 400;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 100%;
    font-weight: inherit;
  }
  hr,
  legend {
    display: none;
  }
  dd,
  dl,
  dt,
  ol,
  ul {
    list-style: none;
  }
  table {
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  td,
  th,
  tr {
    -webkit-box-orient: vertical;
    border: none;
  }
  caption {
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
  }
  button,
  input,
  select,
  textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    vertical-align: middle;
  }
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    overflow: visible;
    text-decoration: none;
  }
  a,
  a:active,
  a:focus,
  a:hover,
  button {
    outline: none;
    text-decoration: none;
    color: #000;
  }
  em {
    font-style: normal;
  }
  img {
    vertical-align: top;
  }
  i {
    font-style: normal;
  }

  :root {
    
    --blur-1-size: clamp(400px, 60vw, 60vw);
    --blur-2-size: clamp(300px, 40vw, 40vw);
    --blur-3-size: clamp(100px, 10vw, 10vw);
    --blur-amount: clamp(40px, 5vw, 90px);
    --size: clamp(10rem, 1rem + 40vmin, 30rem);
    --gap: calc(var(--size) / 14);
    --duration: 60s;
    --scroll-start: 0;
    --scroll-end: calc(-100% - var(--gap));
}

  